@import "~antd/dist/antd.css";

body,
#main {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100vw;
  background: #eee;
}

.title {
  margin-left: 36px;
  position: fixed;
  margin-top: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: -2px;
  color: #34495e;
}